@model IEnumerable<ThoughtEncyclopedia.Models.Thought>
<style>
    .thought_content {
        white-space: pre-wrap;
    }
</style>
    <div class="Ruminations">
            @foreach (var item in Model)
            {
        <div class="thought_snippet">
            
             <h3 class="topic_content"><a asp-controller="Topics" asp-action="Details" asp-route-id="@item.Topic.TopicID">@Html.DisplayFor(modelItem => item.Topic.Title):</a></h3>
             <p style="margin-left:25px; margin-right:50px;"  class="thought_content"><a asp-controller="Thoughts" asp-action="Details" asp-route-id="@item.ThoughtId"> @Html.DisplayFor(modelItem => item.ContentText)</a></p>
            
            <a asp-controller="Thoughts" asp-action="Edit" asp-route-id="@item.ThoughtId">Edit</a>
            <a asp-controller="Thoughts" asp-action="Details" asp-route-id="@item.ThoughtId">Detail</a>
            <a asp-controller="Thoughts" asp-action="Delete" asp-route-id="@item.ThoughtId">Delete</a>
        </div>
            }
        
        <p>
            <a asp-controller="Thoughts" asp-action="Create">Add a Thought</a>
        </p>
    </div>
